@import "../../global.css";
/* Container for the entire section */
.container {
  padding: 50px 20px;
  background-color: var(--main-bg-color);
  text-align: center;
}

/* Title styling for the services section */
.servicesTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--font-main-color);
}

/* Container for all service cards */
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto; /* Centers the container */
  cursor: pointer;
}

/* Each service card styling */
.servicesCard {
  background-color: var(--card-bg);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: calc(33% - 40px); /* Adjust width for 3 cards in a row */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for service cards */
.servicesCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

/* Title styling within each service card */
.serviceTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-main-color);
  gap: 10px;
}

/* Description styling within each service card */
.serviceDescription {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--font-tertiary-color);
}

@media screen and (max-width: 830px) {

 
.container {
  padding: 50px 20px;
  background-color: var(--main-bg-color);
  text-align: center;

}

/* Title styling for the services section */
.servicesTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--font-main-color);
}

/* Container for all service cards */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

}

/* Each service card styling */
.servicesCard {
  background-color: var(--card-bg);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: calc(70% - 80px); 
 /* Adjust width for 3 cards in a row */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for service cards */
.servicesCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Title styling within each service card */
.serviceTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-main-color);
  gap: 10px;
}

/* Description styling within each service card */
.serviceDescription {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--font-tertiary-color);
}


}






@media screen and (max-width: 420px) {

 
  .container {
    padding: 50px 20px;
    background-color: var(--main-bg-color);
    text-align: center;
  
  }
  
  /* Title styling for the services section */
  .servicesTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--font-main-color);
  }
  
  /* Container for all service cards */
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  
  }
  
  /* Each service card styling */
  .servicesCard {
    background-color: var(--card-bg);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 50px); 
   /* Adjust width for 3 cards in a row */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect for service cards */
  .servicesCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Title styling within each service card */
  .serviceTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-main-color);
    gap: 10px;
  }
  
  /* Description styling within each service card */
  .serviceDescription {
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--font-tertiary-color);
  }
  
  
  }