@import "../../global.css";

.container{

    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);

    margin: 0 2rem;
    padding: 5rem;
}


.servicesTitle{
    color:   var(--font-main-color);
    font-size: 2rem;
     margin-bottom: 1rem;
}

.services{
    display: flex;
    flex-direction: row;
 gap: 3rem;
 margin-bottom: 1rem;

    justify-content: space-between;
}

.serviceTitle{

  color:   var(--font-main-color);
font-size: 2rem;
}
.serviceDescription{
  color:   var(--font-tertiary-color);
    font-weight:400;
  font-size: 1.25rem;
}


.servicesCard{
    gap: 1rem;
  

    display: flex;
    flex-direction: column;



    gap: 2rem;
}