@import "../../global.css";

/* Container for the entire section */
.container {
  padding: 50px 20px;
  background-color: var(--main-bg-color);
  text-align: center;
}

/* Title styling */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--font-main-color);
}

/* Container for all projects */
.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adds space between each ProjectCard */
  max-width: 1200px;
  margin: 0 auto; /* Centers the container */
}

/* Projects container styling */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


@media screen and (max-width: 830px) {




  .container {

    color: var(--color-text);
    background-color: var(--main-bg-color);
 
    padding: 2rem;
  
    margin-bottom: 4rem;
  }
  
  
  
  .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--font-main-color);
    margin-bottom: 1rem;
  
  }
  
  .projects {
  
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
}






@media screen and (max-width: 420px) {




  .container {
    color: var(--color-text);
    background-color: var(--main-bg-color);
    padding: 2rem;
    margin-bottom: 4rem;

    
  }
  
  
  
  .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-main-color);
    margin-bottom: 1rem;
  
  }
  
  .projects {

  


  }
  






}