@import "../../global.css";


.container{

    height: 100vh;
   

}
.heroContainer{
    padding: 10rem;
    border: 1px red solid;
display: flex;
flex-direction: column;
align-items: center;

}

.row{
    border: 1px  green solid;
    color: var(--font-main-color);   
    text-align: center;
}


.greeting{
    border: 1px yellow solid;
font-size: 2rem;
}

.type{
font-size: 8rem;
font-weight: 400;
color: var(--font-tertiary-color);

border: 1px pink solid;
}




.techStackRow{
    margin-top: 10rem;
display: flex;
flex-direction: column;
align-items: center;
color: var(--font-main-color);   

border: 1px blueviolet solid;

}


.techStack{
    
border: 1px blueviolet solid;
   margin: 2rem;
    font-size: 2rem;
}



.techContainer{
    display: flex;
    
border: 1px blueviolet solid;
}


.techMenu{
display: flex;
gap: 5rem;
list-style: none;
flex-direction: row;
justify-content: center;

border: 1px blueviolet solid;
}

.techMenu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
border: 1px blueviolet solid;
;

}

.techMenu img{

    border: 1px blueviolet solid;

max-width:55px;


}

.techMenu h3{
    margin-top: 1rem;
font-size: 1rem;
font-weight: 400;
border: 1px blueviolet solid;



}