@import "../../global.css";


.container {

margin-bottom: 8rem;

}

.heroContainer {
    padding: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {

    color: var(--font-main-color);
    text-align: center;
}


.greeting {

    font-size: 2rem;
}

.type {
    margin-top: 1rem;
    font-size: 8.5rem;
    font-weight: 400;
    color: var(--font-tertiary-color);

}




.techStackRow {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-main-color);

    border: 1px blueviolet solid;

}


.techStack {

    border: 1px blueviolet solid;
    margin: 2rem;
    font-size: 2rem;
}



.techContainer {
    display: flex;

    border: 1px blueviolet solid;
}


.techMenu {
    display: flex;
    gap: 5rem;
    list-style: none;
    flex-direction: row;
    justify-content: center;

    border: 1px blueviolet solid;
}

.techMenu li {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px blueviolet solid;
    ;

}

.techMenu img {

    border: 1px blueviolet solid;

    max-width: 55px;


}

.techMenu h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px blueviolet solid;



}

@media screen and (max-width: 830px) {

    .container {

        /* height: 100vh; */


        margin-bottom: 5rem;
        margin-bottom: 5rem;

    }

    .heroContainer {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .row {
        color: var(--font-main-color);
        text-align: center;
    }


    .greeting {

        font-size: 2rem;
    }

    .type {
        margin-top: 1rem;
        font-size: 4.5rem;
        font-weight: 400;
        color: var(--font-tertiary-color);

        margin-bottom: 2rem;

    }




}





/* Additional responsive adjustments specifically for 412px or smaller screens */
@media screen and (max-width: 412px) {
    .container {

        /* height: 100vh; */
        margin-bottom: 2rem;
    
    }

    .heroContainer {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .row {
        color: var(--font-main-color);
        text-align: center;
    }


    .greeting {

        font-size: 1.25rem;
    }

    .type {
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--font-tertiary-color);


    }

  }