@import "../../global.css";


/* Light Mode Styles */
.light-mode {
  --main-bg-color: #ffffff;
  --font-main-color: #000000;
}

/* Dark Mode Styles */
.dark-mode {
  --main-bg-color: #333333;
  --font-main-color: #red;
}


.container {
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.31);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;


}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  z-index: 2;
  margin: 0 10%;

}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--font-main-color);
}


.menuBtn {
  display: none;
  color: var(--font-main-color);
  font-size: 2.75rem;
}

.menu {
  display: flex;
  align-items: center;
}

.toggleBtn {
  color: var(--font-main-color);
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
  display: inline-flex;
  /* Makes it possible to center content */
  align-items: center;
  /* Center content vertically */
  justify-content: center;
  /* Center content horizontally */
  width: 40px;
  /* Set width for the circle effect */
  height: 40px;
  /* Set height for the circle effect */
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  /* Smooth transition */
}

.toggleBtn:hover {
  border-radius: 50%;
  /* Makes the element a circle on hover */
  background-color: var(--font-tertiary-color);
}


.menuItems {
  gap: 1.5rem;
  display: flex;
  list-style: none;
}




.menuItems a {
  font-size: 1.25rem;
  color: var(--font-main-color);
  text-decoration: none;
}


.menuItems a:hover {
  color: var(--font-tertiary-color);
  text-decoration: underline;
  transition: 2ms ease-in-out;
}



@media screen and (max-width: 830px) {


  .container {


    overflow: visible;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 11px;
    z-index: 2;
  }

  .menuBtn {

    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: .75rem;
    background: var(--card-bg);
    border: #ffffff 1px solid;
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }


  
.toggleBtn {
  color: var(--font-main-color);
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
  display: inline-flex;
  /* Makes it possible to center content */
  align-items: center;
  /* Center content vertically */
  justify-content: center;
  /* Center content horizontally */
  width: 40px;
  /* Set width for the circle effect */
  height: 40px;
  /* Set height for the circle effect */
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  /* Smooth transition */
}

.toggleBtn:hover {
  border-radius: 50%;
  /* Makes the element a circle on hover */
  background-color: var(--font-tertiary-color);
}


}




