@import "../../global.css";


.container{
background-color: var(--card-bg);


}
.footerContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1rem;
margin: 0 2rem;
;
align-items: center;
}

.footerContainer h1{

color: var(--font-main-color);
    font-size: 1rem;
    font-weight: 600;
}

.socials {

    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.icons{

color: var(--font-main-color);
height: 100%;


}