:root {
    /* colors */
    --main-bg-color: #1A1A1A;
    --secondary-bg-color: #FFFFFF;
    --tertiary-bg-color: #FFCA28;


    /* font colors */
    --font-main-color: #A390FF;
    --font-secondary-color: #263238;
    --font-tertiary-color: #CAE26B
    ;


}



/* buttons

#CAE26B


main-font color
#A390FF

bg-color
#1A1A1A



super-dark mode
#0D0D0D */